/* App */
body {
	font-family: Avenir, sans-serif;
	margin: 0;
	background: aliceBlue;
}

.topNav, .welcome {
	background: seaGreen;
	color: seaShell;
}

.logo, .userGreeting, .welcome {
	padding: 20px;
}

.logo {
	border: 1px solid seaShell;
}

/* Pages Container */
.sideNav {
	width: 15%;
	height: 100%;
}

.contentContainer-outer {
	border-right: 2.5px seagreen solid;
	width: 42.5%;
}

.formContainer {
	padding-top: 30px;
	width: 42.5%;
}

hr {
	border: .5px dotted seaGreen;
}

fieldset {
	border: 0;
}

textarea {
	resize: none;
}

/* Landing */
.landingSectionContainer {
	display: grid;
	grid-template-rows: 30px auto 30px;
	border: 1px solid seaGreen;
	padding: 10px;
	margin: 15px;
	margin-bottom: 30px;
	height: 250px;
}

.landingSectionContainer-messages {
	height: 530px;
}

.landingSectionHeader {
	font-weight: bold;
	padding-bottom: 10px;
}

.landingSectionHeader, .landingContentContainer {
	border-bottom: 1px solid seaGreen;
}

.landingSectionFooter {
	font-style: italic;
	padding-top: 10px;
}

/* Tasks Page */
.flexCenter {
	display: flex;
	justify-content: space-between;
}

.tasksSection {
	font-size: 11px;
	margin: 1px;
}

/* Events */
.eventOnDOM:first-of-type {
	background-color: gray;
	font-weight: bold;
	font-size: 120%;
}

.eventsDash {
	font-size: 11px;
	margin: 1px;
}

/* News */
.articleInput-synopsis {
	height: 100px;
}