{
    "users": [
        {
            "id": 1,
            "username": "Steve",
            "email": "me@me.com",
            "password": "password"
        }
    ],
    "articles": [
        {
            "id": 1,
            "userId": 1,
            "url": "https://www.quantamagazine.org/newfound-wormhole-allows-information-to-escape-black-holes-20171023/",
            "title": "Wormholes Allow Information to Escape Black Holes",
            "synopsis": "Check out this recent discovery about workholes",
            "currentTimestamp": "Fri Nov 08 2019 10:15:44 GMT-0600 (Central Standard Time)"
        }
    ],
    "messages": [
        {
            "id": 1,
            "userId": 1,
            "message": "What's up?",
            "timestamp": "Fri Nov 08 2019 10:15:44 GMT-0600 (Central Standard Time)"
        }
    ],
    "events": [
        {
            "id": 1,
            "userId": 1,
            "name": "Demo Day",
            "date": "2019-11-8",
            "location": "Nashville Software School"
        }
    ],
    "tasks": [
        {
            "id": 1,
            "userId": 3,
            "taskName": "Take out garbage",
            "dueDate": "2019-11-10",
            "completion": true
        }
    ],
    "friends": [
        {
            "id": 1,
            "userId": 1,
            "loggedInUserId": 3
        }
    ]
}